<i class="fa fa-graduation-cap fa-3x"></i><span class="heading">EDUKACJA</span>
<table>
    <tr>
        <th>05.2016 – obecnie</th><th>InfoShare Academy</th>
    </tr>
    <tr>
        <td colspan="2">kurs Junior Front-end Developer</td>
    </tr>
</table>
<table>
    <tr>
        <th>10.2010 – 06.2014</th><th>Uniwersytet Warszawski</th>
    </tr>
    <tr>
        <td colspan="2">studia Magisterskie<br>kierunek: Gospodarka przestrzenna<br>specjalizacja: Urbanistyka i regionalistyka</td>
    </tr>
</table>
<table>
    <tr>
        <th>10.2007 – 06.2010</th><th>Uniwersytet Warszawski</th>
    </tr>
    <tr>
        <td colspan="2">studia  Licencjackie<br>kierunek: Gospodarka przestrzenna</td>
    </tr>
</table>