<i class="fa fa-briefcase fa-3x"></i><span class="heading">DOŚWIADCZENIE ZAWODOWE</span>
<table>
    <tr>
        <th>06.2014 – 04.2016</th><th>DB Schenker Sp. z o.o.</th>
    </tr>
    <tr>
        <td colspan="2">pracownik magazynu</td>
    </tr>
</table>
<table>
    <tr>
        <th>10.2013 – 01.2014</th><th>Young Digital Planet S.A.</th>
    </tr>
    <tr>
        <td colspan="2">realizator projektu</td>
    </tr>
</table>
<table>
    <tr>
        <th>02.2012 – 08.2013</th><th>Autoteka</th>
    </tr>
    <tr>
        <td colspan="2">obsługa klienta</td>
    </tr>
</table>
<table>
    <tr>
        <th>07.2010 – 01.2012</th><th>PKN Orlen S.A.</th>
    </tr>
    <tr>
        <td colspan="2">obsługa klienta</td>
    </tr>
</table>
<table>
    <tr>
        <th>07.2009</th><th>Urząd Miejski w Białymstoku</th>
    </tr>
    <tr>
        <td colspan="2">Praktyka zawodowa w Departamencie Urbanistyki</td>
    </tr>
</table>
<table>
    <tr>
        <th>02.2008 – 06.2010</th><th>ELEA Polska Sp. z o.o.</th>
    </tr>
    <tr>
        <td colspan="2">kasjer-sprzedawca</td>
    </tr>
</table>