<i class="fa fa-bicycle fa-3x"></i><span class="heading">ZAINTERESOWANIA</span>
<table>
    <tr>
        <th>Komunikacja miejska</th>
    </tr>
    <tr>
        <td>Zainteresowanie to skupia się głównie na tematyce taboru autobusowego w różnych miastach Polski.
            W szczególności techniczne rozwiązania zastosowane w autobusach poszczególnych marek, a także zagadnienia dotyczące zarządzania komunikacją w systemie miejskim.
            Sposoby uprzywilejowania różnych form transportu w miastach.
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>Kolarstwo</th>
    </tr>
    <tr>
        <td>Jeżdżenie i naprawy własnego roweru leżą w moich zainteresowaniach od wielu lat.
            Jednymi z największych moich osiągnięć są przebiegi roczne rzędu 3-4 tys. kilometrów.
        </td>
    </tr>
</table>