<i class="fa fa-briefcase fa-3x"></i><span class="heading">PRZYKŁADOWE PROJEKTY</span>

<table>
    <tr>
        <td>Strona w przygotowaniu, zapraszam do mojego repozytorium (link w górnym pasku)</td>
    </tr>
</table>
<!--
<table>
    <tr>
        <th>Kółko i krzyżyk</th>
    </tr>
    <tr>
        <td>Gra przygotowana w ramach kursu Junior Front-end Developer jako ćwiczenie w nauce JavaScript i JQuery</td>
    </tr>
    <tr>
        <td>
Lorem ipsum
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>Zbuduj metro w Gdańsku</th>
    </tr>
    <tr>
        <td>Gra przygotowana w ramach kursu Junior Front-end Developer jako podsumowanie nauki JavaScript i JQuery</td>
    </tr>
    <tr>
        <td>
            Lorem ipsum
        </td>
    </tr>
</table>-->
