<i class="fa fa-star fa-3x"></i><span class="heading">UMIEJĘTNOŚCI</span>
<table>
    <tr>
        <th colspan="2">Front-end Development</th>
    </tr>
    <tr>
        <td>

            <span>HTML, CSS</span>
        </td>
        <td style="text-align: left">
            Od 2003 roku.
        </td>
    </tr>
    <tr>
        <td>

            <span>JavaScript, JQuery</span>
        </td>
        <td style="text-align: left">
            Od maja 2016 r.
        </td>
    </tr>
    <tr>
        <td>
            <span>Angular</span>
        </td>
        <td style="text-align: left">
            Od czerwca 2016 r.
        </td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">Back-end Development</th>
    </tr>
    <tr>
        <td>

            <span>PHP</span>
        </td>
        <td style="text-align: left">
            Od 2013 roku.
        </td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">Programowanie</th>
    </tr>
    <tr>
        <td>

            <span>PASCAL</span>
        </td>
        <td style="text-align: left">
            Od 2004 roku. W latach 2005 oraz 2006 uczestnictwo w zawodach w programowaniu zespołowym na Politechnice Białostockiej
        </td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">Zarządzanie zespołem</th>
    </tr>
    <tr>
        <td>

            <span>Scrum</span>
        </td>
        <td style="text-align: left">
            Od maja 2016 roku.
        </td>
    </tr>
    <tr>
        <td>

            <span>LEAN management</span>
        </td>
        <td style="text-align: left">
            Wykorzystywany w praktyce podczas pracy w DB Schenker Sp. z o.o.
        </td>
    </tr>
</table>