header {
    height: 100px;
    background-color: yellow;
    text-align: center;
    padding: 10px;
}
.menu>.red {
    background-color: red;
}
.menu>.green {
    background-color: green;
}
.menu>.blue {
    background-color: blue;
}
.menu-list>.red {
    background-color: #ff5854;
}
.menu-list>.green {
    background-color: #428037;
}
.menu-list>.blue {
    background-color: #696fff;
}

.menu {
    display: inline-block;
    position: relative;
    width: 200px;
    z-index: 2;

}
.menu-box:hover > .menu-list {
    visibility: visible;
}

.menu-list {
    visibility: hidden;
    width: 200px;
    display: block;
    position: absolute;
    transition: visibility 0.2s;
}
.down {
    top: 55px;
}
.left {
    right: 205px;
}
.right {
    left: 205px;
}
.menu-box {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: solid 1px black;
}

/* css image slider */

.container{
    width: 640px;
    height: 540px;
    padding: 20px;
    border: 1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    background: black;
}
.image-slider-wrapper{
    overflow: hidden;
}
#image_slider{
    position: relative;
    height: 280px;
    padding:0;
}
#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}