body {
    margin: 10px;
    background-color: #ede9f8;
    font-family: arial, sans-serif;
}
a:hover, a:visited, a:active, a:link {
    color: black;
}
.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../images/photo.jpg);
    background-position: center;
    z-index: 99;
    box-shadow: 3px 3px 6px black;
}
.photo.small {
    margin: 0 auto;
}
.square {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: 48%;
    background-color: white;
    transform: rotate(45deg);
    z-index: -1;

}
.links i {
    position: relative;
    z-index: 100;
}
.links span {
    color: white;
    line-height: 50px;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 15px;
}
.links .square {
    left: auto;
    right: 40px;
    bottom: 40px;
    background-color: darkgrey;
    z-index: 0;
}
#tooltip-e, #tooltip-g, #tooltip-l {
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
    width: 230px;
    height: 50px;
    background-color: darkgrey;
}
#tooltip-l {
    width: 400px;
}
.circle1 {
    display: none;
}
.row {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}
.title {
    width: 100%;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.row > i {
    position: absolute;
    top: 20px;
    right: 20px;
}
table {
    margin: 20px 0 20px;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}
tr {
    height: 40px;
}
tr:first-child{
    background-color: #a8d5ff;
}
th:first-child {
    width: 30%;
}
th:last-child {
    text-align: left;
}
td {
    line-height: 40px;
    text-align: left;
}
td:first-child{
    width: 30%;
}



#description {
    display: none;
}

@media screen and (min-width: 10px)/*, screen and (-webkit-device-pixel-ratio: 1.5) and (min-width: 400px)*/ {
    .small {
        display: none;
    }
    body {
        margin: 0 0 20px;
    }
    .navbar {
        height: 150px;
        background-color: deepskyblue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: 3px 3px 6px black;
    }
    #container {
        padding-top: 280px;
        height: 450px;
    }
    .circle1{
        margin: 0 auto;
        display: block;
        position: relative;
        width: 350px;
        height: 300px;
        background-image: url(../images/circle.png);
        background-size: 100% 100%;
        z-index: 2;
        transition: transform 3s;
    }
    .navbar .photo {
        display: inline-block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 20px;
        left: 50px;
        background-size: contain;
    }
    .fa-envelope-o:hover > #tooltip-e {
        display: block;
    }
    .fa-github:hover > #tooltip-g {
        display: block;
    }
    .fa-linkedin-square:hover > #tooltip-l {
        display: block;
    }
    .links {
        display: inline-block;
        float: right;
    }
    .links i {
        padding: 40px;
    }
    #insideCircle {
        transition: transform 3s;
        transform-origin: 50% 50%;
        position: absolute;
        left: 115px;
        top: 90px;
        width: 120px;
        height: 120px;
        background-image: url(../images/icon_cv.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #education {
        position: absolute;
        top: 320px;
        left: 40px;
        transition: transform 3s;
    }

    #experience {
        position: absolute;
        top: 125px;
        left: -80px;
        transition: transform 3s;
    }
    #skills {
        position: absolute;
        top: -60px;
        left: 40px;
        transition: transform 3s;
    }
    #interests {
        position: absolute;
        top: -60px;
        right: 40px;
        transition: transform 3s;
    }
    #projects {
        position: absolute;
        top: 125px;
        right: -80px;
        transition: transform 3s;
    }
    #contact {
        position: absolute;
        top: 320px;
        right: 40px;
        transition: transform 3s;
    }
    #icon {
        position: absolute;
        top: 0;
        left: 0;
    }
    #description {
        position: relative;
        display: block;
        padding: 20px;
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        min-height: 220px;
        height: auto;
        transition: width 3s;
        background-color: #ffffff;
        box-shadow: 3px 3px 6px black;
    }
    #description > #text {
        text-align: center;
    }
    #description  #hello {
        color: black;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        text-shadow: 2px 2px 3px grey;
    }
    .heading {
        padding: 20px;
        font-size: 30px;
        line-height: 50px;
        text-shadow: 2px 2px 3px grey;
    }
}